click==6.7
Flask==0.12
Flask-WTF==0.14.2
gunicorn==19.7.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
oauthlib==2.0.1
requests==2.13.0
requests-oauthlib==0.8.0
Werkzeug==0.12
WTForms==2.1
Flask-Cas==1.0.0
Flask-Mail==0.9.0
