<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %} | Dashboard</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <style type='text/css'>
      body { padding-top: 60px; }
    </style>
    {% block extra_styles %}{% endblock %}

    <script src='https://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    {% block extra_scripts %}{% endblock %}
  </head>

  <body class='{% block body_class %}{% endblock %}'>
    <div class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
      <div class='container'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='/'>{% block branding %}Dashboard{% endblock %}</a>


        </div>

        <div class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>

            <li><a href='/'></a></li>

            {% block extra_nav %}
             <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
             </li>
            <li class="nav-item">
            </li>
               <li class="nav-item">
                <a class="nav-link" href="mailto:enroy@ualr.edu?cc=star@ualr.edu&subject=Blackboard Organizations Tool Help">Support</a>
            </li>


            {% endblock %}
          </ul>
        </div>
      </div>
    </div>
    <br>

    <div class='container'>
        <div class="jumbotron text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Blackboard Organizations Tool</h1>
                <p class="lead text-muted">A tool for creating Blackboard organizations automatically.</p>
                <p>
          <a href="{{ url_for('create') }}" class="btn btn-primary">Create New Organization</a>
                    <a href="#" class="btn btn-primary">Bulk User Enroll Tool</a>

          <a href="{{ url_for('archive') }}" class="btn btn-primary">Un-Enroll</a>
        </p>




        </div>
        </div>
      <div class='row'>
          <div class='col-md-4'>
          <!--- Sidebar can go here if needed -->
        </div>

        <div class='col-md-4'>
          <h1>{% block content_title %}{% endblock %}</h1>

          <hr>
          {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class='alert alert-dismissable alert-{{ category }}'>
              <button type='button' class='close' data-dismiss='alert'>&times;</button>
              {{ message }}
            </div>
          {% endfor %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
       </div>
  </body>
</html>
