{% extends "base.html" %}

{% block title %}Enroll Tools{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
<br>
    <div class='container'>
    <div class="row">
        <div class="col-lg-4">
          <h2>Download CSV</h2>
          <p>For managers who have already obtained the NETID's of organization participants. Download the CSV and open in excel/text editor, copy the first line, and paste by the number of participants you have. Replace the NETID's in the first column with your own, save, and upload to your organization. </p>
          <p><a class="btn btn-primary" href="https://goo.gl/EE8nca" role="button">Download &raquo;</a></p>
        </div>

    </div>
    </div>


{% endblock %}



